# If you just change the port or add more ports here, you will likely also
# have to change the VirtualHost statement in
# /etc/apache2/sites-enabled/000-default.conf

{% for listen in _apache2_listen %}
Listen {{ listen.split(':')[-1] if listen.split(':')[0] == '*' else listen }}
{% endfor %}

<IfModule ssl_module>
{% for ssl_listen in _apache2_ssl_listen %}
{%   set https = True if ssl_listen.split(':')[-1] != '443' else False %}
{%   if https %}
	Listen {{ ssl_listen.split(':')[-1] if ssl_listen.split(':')[0] == '*' else ssl_listen }} https
{%   else %}
	Listen {{ ssl_listen.split(':')[-1] if ssl_listen.split(':')[0] == '*' else ssl_listen }}
{%   endif %}
{% endfor %}
</IfModule>

<IfModule mod_gnutls.c>
{% for ssl_listen in _apache2_ssl_listen %}
{%   set https = True if ssl_listen.split(':')[-1] != '443' else False %}
{%   if https %}
	Listen {{ ssl_listen.split(':')[-1] if ssl_listen.split(':')[0] == '*' else ssl_listen }} https
{%   else %}
	Listen {{ ssl_listen.split(':')[-1] if ssl_listen.split(':')[0] == '*' else ssl_listen }}
{%   endif %}
{% endfor %}
</IfModule>

# vim: syntax=apache ts=4 sw=4 sts=4 sr noet
